[Unit]
Description=Timer for %n service

[Timer]
OnBootSec=10min
OnUnitActiveSec=7h
RandomizedDelaySec=30min
Persistent=true

[Install]
WantedBy=timers.target
